@page "/solicitudes/recibidas"
@attribute [Authorize]
@layout Layout.SolicitudesLayout
@using System.Net.Http
@inject HttpClient Http

@if (Solicitudes == null)
{
    <div class="row justify-content-center">
        <img src="images/loading.svg" alt="Cargando" />
    </div>
}
else if (Solicitudes.Count == 0)
{
    <p>No hay solicitudes entregadas.</p>
}
else
{
    <SolicitudesTableGeneric Solicitudes="Solicitudes" Titulo="Recibidas"></SolicitudesTableGeneric>
}

@code {
    private List<PanolBlazor.DataModel.SolicitudModel> Solicitudes;

    protected override async Task OnInitializedAsync()
    {
        Solicitudes = await Http.GetJsonAsync<List<PanolBlazor.DataModel.SolicitudModel>>("http://localhost:8080/solicitud/estado/pendiente");
    }

}
