@page "/reportes/usuarios"
@layout Layout.ReportesLayout
@attribute [Authorize]

@inject HttpClient http
@inject IJSRuntime js
@using DataModel;

@if (escuelas == null || usuarios == null)
{
    <div class="col-12">
        <div class="row justify-content-center">
            <img src="images/loading.svg" alt="Cargando" />
        </div>
    </div>
}
else
{
    <div class="col-12">
        <div class="py-3">
            <div class="shadow card">
                <div class="card-header font-weight-bold" style="color: #343A40">
                    Actividad de Usuarios
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <div id="chartUsuarios" style="width: 100%; height: 400px;"></div>
                        </div>
                        <div class="col-4">
                            <a class="stretched-link text-center text-decoration-none btn p-2 btn-dark rounded-0 w-100 h-100 text-white d-flex align-items-center justify-content-center">
                                <div class="text-center">
                                    Usuarios Todos
                                    <p class="text-muted text-center pt-2 m-0" style="font-size: 90%">Sacar reporte de todos los usuarios registrados actualmente en la base de datos.</p>
                                    <span class="pt-5 oi oi-data-transfer-download" style="font-size:200%"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-3 row align-content-stretch flex-wrap">
            <div class="col-4">
                <div class="shadow card h-100">
                    <div class="card-body">
                        <div class="w-100 h-100 py-1">
                            <div class="row no-gutters position-relative bg-image h-100" style="background-image: url(images/images-core/reportes-usuario-activo.jpg)">
                                <div class="col-6 position-static bg-dark">
                                    <a href="#" class="stretched-link text-decoration-none btn p-2 btn-dark rounded-0 w-100 h-100 text-white">
                                        Usuarios Activos
                                        <p class="text-muted text-center pt-2 m-0" style="font-size: 90%">
                                            Sacar reporte de todos los usuarios que se encuentren actualmente activos.
                                        </p>
                                    </a>
                                </div>
                                <div class="col-6 align-self-center">
                                    <p class="text-center" style="font-size:150%"><span class="pt-3 oi oi-data-transfer-download"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="shadow card h-100">
                    <div class="card-body">
                        <div class="w-100 h-100 py-1">
                            <div class="row no-gutters position-relative bg-image h-100" style="background-image: url(images/images-core/reportes-usuario-de-baja.jpg)">
                                <div class="col-6 position-static bg-dark">
                                    <a href="#" class="stretched-link text-decoration-none btn p-2 btn-dark rounded-0 w-100 h-100 text-white">
                                        Usuarios de Baja
                                        <p class="text-muted text-center pt-2 m-0" style="font-size: 90%">
                                            Sacar reporte de todos los usuarios que se encuentren actualmente dados de baja.
                                        </p>
                                    </a>
                                </div>
                                <div class="col-6 align-self-center">
                                    <p class="text-center" style="font-size:150%"><span class="pt-3 oi oi-data-transfer-download"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="shadow card h-100">
                    <div class="card-body">
                        <div class="w-100 h-100 py-1">
                            <div class="row no-gutters position-relative bg-image h-100" style="background-image: url(images/images-core/reportes-usuario-moroso.jpg)">
                                <div class="col-6 position-static bg-dark">
                                    <a class="stretched-link text-decoration-none btn p-2 btn-dark rounded-0 w-100 h-100 text-white">
                                        Usuarios Morosos
                                        <p class="text-muted text-center pt-2 m-0" style="font-size: 90%">
                                            Sacar reporte de los usuarios que actualmente deben los materiales que solicitaron, y se han pasado de la fecha estima de devolución.
                                        </p>
                                    </a>
                                </div>
                                <div class="col-6 align-self-center">
                                    <p class="text-center" style="font-size:150%"><span class="pt-3 oi oi-data-transfer-download"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private List<EscuelaModel> escuelas = new List<EscuelaModel>();
    private List<UsuarioModel> usuarios = new List<UsuarioModel>();

    protected override async Task OnInitializedAsync()
    {
        escuelas = null;
        usuarios = null;
        await Task.Delay(1000);
        escuelas = await http.GetJsonAsync<List<EscuelaModel>>("http://localhost:8080/escuela/");
        usuarios = await http.GetJsonAsync<List<UsuarioModel>>("http://localhost:8080/usuario/");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            await js.GenerateChart("chartUsuarios", TipoChart.VariableHeight3dPieChart, DataToChartUsuarios(usuarios));
        }
    }

    private string DataToChartUsuarios(List<UsuarioModel> usuariosToParseChart)
    {
        string fragmentJson = "";
        foreach (UsuarioModel user in usuariosToParseChart)
        {
            fragmentJson += @"{""perfil"": """ + user.perfil + @""", ""id"":""" + user.id + @"""},";
        }
        fragmentJson = fragmentJson.TrimEnd(',');
        Console.WriteLine(fragmentJson);
        return "[" + fragmentJson + "]";
    }
}

