@inherits LayoutComponentBase
@inject PanolBlazor.Services.ILoginService LoginService
@inject NavigationManager Navigation
@inject IJSRuntime Js

<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
    </Authorized>
</AuthorizeView>


<div class="main">
    <div class="top-row px-4 position-relative">
        <AuthorizeView>
            <Authorized>
                <div class="ml-md-auto">
                    <div class="row">
                        <h5 class="px-2 m-0 border-right" style="vertical-align: text-bottom">@Username <img src="images/user.svg" alt="@Username" style="width: 40px" /></h5>
                        <div class="px-3">
                            <button type="button" class="btn btn-dark" @onclick="HandlerLogout">
                                <span class="oi oi-account-logout" aria-hidden="true"></span> Salir
                            </button>
                        </div>
                        
                    </div>
                    
                </div>
            </Authorized>
        </AuthorizeView>
        
    </div>

    <div class="content px-4" >
        @Body
    </div>
</div>

@code {
    string Username = "";

    private async Task HandlerLogout()
    {
        await LoginService.Logout();
        Navigation.NavigateTo("/login");
    }

    protected override async Task OnInitializedAsync()
    {
         Username = await Js.GetFromLocalStorage("username");
    }
}
